/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

@media only screen and (max-width: 599px) {
  .container {
    padding: 16px;
  }
}
.container
  padding-bottom 70px
  background-color #fff

.f14
  font-size 14px
.f16
  font-size 16px

.btn
  height 32px
.btn--large
  height 44px

.btn__orange
  box-shadow 0 2px 10px rgba(252,147,61,0.8)

.orange--text
  color rgb(252, 147, 61)
.orange
  background: linear-gradient(to right, rgb(252,147,61), rgb(255,181,49));
.card
  border-radius 10px
  box-shadow 0 5px 20px rgba(219,219,219, 0.8);
.card__title
  padding-bottom 12px
.card-content
  height 112px
  overflow hidden
.card__actions
  padding-bottom 24px
.title
  font-size 18px !important
.seg-vert
  position relative
  &::after
    content: ' ';
    display: block;
    position: absolute;
    width: 1px;
    top: 25px;
    right: 0;
    height: calc(100% - 48px);
    background-color: rgba(0,0,0,.1);
    transform: scaleX(.5)

.dis-flex
  display flex
.f18
  font-size 18px
.bold
  font-weight bold

.qa-underline
  display inline-block
  min-width 80px
  line-height 28px
  border 1px solid #999
  color #999
  margin 0 5px
  padding 0 5px
.qa-answers
  margin 0 20px 40px
  list-style none
  padding 0
  overflow: auto;
  li
    display inline-block
    color rgb(153,153,153)
