.paid-card {
  background #fff
  text-align center
  box-shadow 0 5px 20px rgb(252, 148, 60)
  padding 20px 0
  margin-top -128px
}
.paid-panel
  margin -16px
  padding-top 35px
  text-align center
.qrcodeWrap {
    position: relative; width: 135px; height: 135px;
    margin: 0 auto;
    background: url(../assets/group@2x.png) no-repeat center center;
    background-size: contain;
}
.qrcodeWrap img {
  position: absolute; left: -67.5px; top: -67.5px;
  width: 135px; height: 135px;
  display: block;
  border: none;
  opacity: 0;    /*visibility:hidden*/
}
