main-color = rgb(252, 147, 61)
.test-container
  overflow hidden
  .audio-wrap
    position fixed
    bottom 0
    left 0
    width 100%
    .btn--floating
      width 32px
  .audio-panel
    background #fff
    display flex
    align-items center
    padding 15px 30px
    justify-content space-between
  .audio-progress
    position relative
    height: 5px;
    margin: 0;
    background: rgb(216,216,216);
    .audio-progress-line
      position absolute
      height 5px
      background: rgb(252, 147, 61)
      top 0
      left 0
      width  50%
    .audio-progress-point
      position absolute
      display block
      width 25px
      height 25px
      background rgb( 252, 147, 61)
      box-shadow inset 0 0 0 5px #fff,0 1px 2px rgba(0,0,0,0.2)
      border-radius 50%
      top -11px
      left 50%
  //rgb 252 147 61
  .audio-current
    vertical-align middle
  .audio-icon
    font-size 30px
  .hasAudio
    padding-bottom: 100px;

.test-list
  margin 43px -16px 0
  display flex
  align-items start
  transition transform .25s ease-out
@media only screen and (max-height: 668px) {
  .test-list {
    margin-top: 16px;
  }
}
.test-card
  background #fff
  border-radius  10px
  position relative
  width 90%
  flex-shrink 0
  margin-left 5%
  box-shadow 0 5px 20px rgb(252, 148, 60)
  padding 80px 0 30px
  max-height: calc(85vh);
  overflow-y auto
.test-tag
  position absolute
  right 0
  top 20px
  background rgb(240,240,240)
  font-size 15px
  padding 0 10px
  height 22px
  line-height 22px
  text-align center
  border-top-left-radius 10px!important
  border-top-right-radius 0!important
  border-bottom-left-radius 10px!important
  border-bottom-right-radius 0!important
.test-title
  font-size 16px
  font-weight bold
  padding 0 45px
  margin-bottom 25px
.test-title-wide
  font-weight normal
  padding 0 26px 0 45px
.test-detail
  list-style none
  padding 0
  overflow: auto;
  li
    position relative
    min-height 56px
    line-height 1.5
    padding 16px 45px
    font-size 16px
    color rgb(153,153,153)
    &:active,&.active
      color main-color
      background rgb(240,240,240)
  li + li
    &::after
      display block
      content ' '
      position absolute
      top 0
      height 1px
      left 45px
      background #eee
      right 0
  li.bdt
    &::after
      display block
      content ' '
      position absolute
      bottom 0
      height 1px
      left 45px
      background #eee
      right 0
  .test-result-item
    padding: 16px 13px 0 20px;
.editor-input
  outline: none;
  position relative
  display inline-block
  border-bottom: 1px solid #333
  margin 0 2px
  padding-left 5px
.editor-input.valid
  color main-color
  text-decoration-color #333
.editor-input.valid::before
  position: absolute;
  content: '●';
  font-size: 12px;
  left: -2px;
  top: 4px;
.editor-input:not(.valid)::after
  display: block;
  position: absolute;
  content: '?';
  top: 0px;
  left: 50%;
  width: 18px;
  height: 18px;
  line-height 18px
  text-align: center;
  margin-left: -9px;
  border-radius: 50%;
  text-decoration: unset;
  color main-color
  border 1px solid main-color
.editor-input2
  outline: none;
  display inline-block
  border-bottom: 1px solid #333;
  line-height: 20px;
  width 80px
  margin 0 2px
  padding 10px 10px 2px
  color main-color
.btn__next-wrap
  padding 20px 45px 0
.btn__next
  font-size 16px
  margin 0 auto
  width 100%
  height 50px
  line-height 50px
  &.btn--disabled
    opacity .5
.btn__nav-wrap
  padding 0 30px
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
.btn__nav-wrap .btn
  border-color: rgb( 252, 147, 61);
  color: rgb( 252, 147, 61);
  border-width: 2px;
  width: 115px;
  height: 40px;
  margin 20px 0 0
  font-size 16px

.test-result-wrap.card
  color #fff
  font-size 15px
  display flex
  align-items center
  justify-content space-between
  & > :nth-child(2)
    text-align center
  .result-percent
    font-size 30px
.result-card
  padding 50px 0 10px
.result-item
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:active,&.active
    color inherit!important
    background inherit!important
.bl-orange
  flex-grow 1
  line-height 1
  flex-basis 0
  border-radius 0!important
  padding-left 12px
  border-left 2px solid main-color
.btn-share
  position fixed
  bottom 0
  left 0
  width 100%
  text-align center
  height 48px
  line-height 48px
  font-size 16px
  color #fff

.badge-dialog
  min-height: 375px;
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
  background: #fff;
  overflow-y: visible;
  border-radius 10px
  .badge-img
    position absolute
    top: -50px;
    left: 50%;
    margin-left: -50px;
  .badge-header
    font-size 16px
    text-align: center;
    font-weight: bold;
    margin-bottom 18px
    color #333
  .badge-content
    font-size 14px
    line-height 2
    text-align center
.btn-timeline
  font-size: 16px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 36px;
  width: 230px;
  left: 50%;
  margin-left: -115px;
  z-index: 1;
.share-layer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  text-align right;
  z-index: 100
  .share-content {
    margin-right 44px;
    display: inline-block;
    text-align: right;
  }
}
.test-result-header
  margin: 0 16px 10px;
  padding: 6px 11px;
  height: 80px;
  border-radius: 4px;
  border 1px solid rgb(252,147,61)
.test-result-detail
  flex-grow 1
  padding-left 10px
  padding-bottom: 16px;
  border-bottom 1px solid rgb(221,221,221)
  .test-result-title p
    margin: 0
