main-color = rgb(252, 147, 61)
.test-container
  overflow hidden
.test-list
  margin 43px -16px 0
  display flex
  align-items start
  transition transform .25s ease-out
.test-card
  background #fff
  border-radius  10px
  position relative
  width 90%
  flex-shrink 0
  margin-left 5%
  box-shadow 0 5px 20px rgb(252, 148, 60)
  padding 80px 0 30px
.test-tag
  position absolute
  right 0
  top 20px
  background rgb(240,240,240)
  font-size 15px
  width 80px
  height 22px
  line-height 22px
  text-align center
  border-top-left-radius 10px!important
  border-top-right-radius 0!important
  border-bottom-left-radius 10px!important
  border-bottom-right-radius 0!important
.test-title
  font-size 16px
  font-weight bold
  padding 0 45px
  margin-bottom 25px
.test-title-wide
  font-weight normal
  padding 0 26px 0 45px
.test-detail
  list-style none
  padding 0
  overflow: auto;
  li
    position relative
    min-height 56px
    line-height 1.5
    padding 16px 45px
    font-size 16px
    color rgb(153,153,153)
    &:active,&.active
      color main-color
      background rgb(240,240,240)
  li + li
    &::after
      display block
      content ' '
      position absolute
      top 0
      height 1px
      left 45px
      background #eee
      right 0
.editor-input
  outline: none;
  position relative
  display inline-block
  border-bottom: 1px solid #333
  margin 0 2px
  padding-left 5px
.editor-input.valid
  color main-color
  text-decoration-color #333
.editor-input.valid::before
  position: absolute;
  content: '●';
  font-size: 12px;
  left: -2px;
  top: 4px;
.editor-input:not(.valid)::after
  display: block;
  position: absolute;
  content: '?';
  top: 0px;
  left: 50%;
  width: 18px;
  height: 18px;
  line-height 18px
  text-align: center;
  margin-left: -9px;
  border-radius: 50%;
  text-decoration: unset;
  color main-color
  border 1px solid main-color
.editor-input2
  outline: none;
  display inline-block
  border-bottom: 1px solid #333;
  line-height: 20px;
  width 80px
  margin 0 2px
  padding 10px 10px 2px
  color main-color
.btn__next-wrap
  padding 20px 45px 0
.btn__next
  font-size 16px
  margin 0 auto
  width 100%
  height 50px
  line-height 50px
  &.btn--disabled
    opacity .5

.test-result-wrap.card
  color #fff
  font-size 15px
  display flex
  align-items center
  justify-content space-between
  & > :nth-child(2)
    text-align center
  .result-percent
    font-size 30px
.result-card
  padding 50px 0 10px
.result-item
  display: flex;
  justify-content: space-between;
.bl-orange
  flex-grow 1
  line-height 1
  flex-basis 0
  border-radius 0!important
  padding-left 12px
  border-left 2px solid main-color
.btn-share
  position fixed
  bottom 0
  left 0
  width 100%
  text-align center
  height 48px
  line-height 48px
  font-size 16px
  color #fff
