.test-land-wrap.card
  align-items center
  justify-content space-between
  padding-top 70px
  padding-bottom 60px
  color #fff
  font-size 16px
  text-align center
  h3
    font-size 24px
    line-height 36px
    margin-bottom 0
  p
    line-height 2
  .uc-avatar-land
    margin 33px 0 48px 0
.btn-test
  position relative
  width 80%
  height 58px
  font-size 16px
  margin -50px auto 0
  box-shadow 0 2px 25px 0 rgba(252, 147, 61, 0.8)

