.uc-avatar
  float: left;
  margin auto
  display block
  box-shadow 0 1px 5px rgb(255,118,39)
.uc-title
  font-size 20px
  margin-bottom 18px
  line-height 1
.uc-sm
  font-size 13px
  line-height 1.5

.uc-block-wrap
  margin 0 -10px
.uc-block
  float left
  font-size 13px
  border-radius 10px
  width: calc(50% - 20px);
  min-height: 170px;
  background: #ccc;
  margin: 20px 10px 0;
  text-align center
  padding-top 30px
  .icon
    font-size 40px
    margin-bottom 12px

.block-1
  background linear-gradient(135deg, rgb(255, 121, 180), rgb(255, 122, 122))
  box-shadow 0 2px 10px rgba(255, 121, 179, 0.6)
.block-2
  background linear-gradient(135deg, rgb(192, 156, 255), rgb(57, 117, 241))
  box-shadow 0 2px 10px rgba(192, 156, 255, 0.6)
.block-3
  background linear-gradient(135deg, rgb(255, 227, 115), rgb(255, 204, 0))
  box-shadow 0 2px 10px rgba(0, 0, 0, 0.1)
.block-4
  background linear-gradient(135deg, rgb(113, 255, 203), rgb(4, 198, 206))
  box-shadow 0 2px 10px rgba(0, 0, 0, 0.1)

.opacity-3
  opacity .3
.opacity-6
  opacity .6
