<!DOCTYPE html>
<html lang="en">
<head>
  <title>法棍阅读</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {margin: 0}
  </style>
<body>
  <img src="/imgs/yuyue.png" alt="" width="100%">
</body>
</html>
