<!DOCTYPE html>
<html lang=en>
<head><title>法棍阅读</title>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script src=https://res.wx.qq.com/open/js/jweixin-1.2.0.js></script>
  <script>
    var userInfo = <%- userInfo %>;
    var serverTime = '<%= serverTime %>';
    var serverTimeStamp = '<%= serverTimeStamp %>';
    var attachHost = '//sz.envol.vip';
  </script>
  <script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
      _vds.push(['setAccountId', 'acf18fbd564ee75d']);
      (function() {
        var vds = document.createElement('script');
        vds.type='text/javascript';
        vds.async = true;
        vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(vds, s);
      })();
    })();
  </script>
  <script type='text/javascript' src='https://assets.growingio.com/sdk/wx/vds-wx-plugin.js'></script>
  <script src="/vconsole.min.js"></script>
  <script>
    // 初始化
//    var vConsole = new VConsole();
//    console.log('Hello world');
  </script>
  <link href="/dist/styles.css" rel="stylesheet">
</head>
<body>
<div id=app></div>
<script type="text/javascript" src="/dist/build.js"></script>
</body>
</html>
