<!DOCTYPE html>
<html lang=en>
<head><title>法棍阅读</title>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <script src=http://res.wx.qq.com/open/js/jweixin-1.2.0.js></script>
  <script>var userInfo = <%- userInfo %> </script>
  <link href="/dist/styles.css" rel="stylesheet">
</head>
<body>
<div id=app></div>
<script type="text/javascript" src="/dist/build.js"></script>
</body>
</html>
