body {
  font: .28rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tabbar {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.25rem 0px #eee;
  justify-content: space-around;
}
.tabbar-item {
  font-size: .24rem;
  text-align: center;
  color: #999;
  text-decoration: none;
  padding-top: .65rem;
  background-repeat: no-repeat;
  background-position: center .1rem;
  background-size: .5rem;
  -webkit-tap-highlight-color: transparent;
}
.tabbar-item:nth-child(1) {
  background-image: url('/images/index_b.png');
}
.tabbar-item:nth-child(2) {
  background-image: url('/images/plan_b.png');
}
.tabbar-item:nth-child(3) {
  background-image: url('/images/uc_b.png');
}
.tabbar-item.active {
  color: rgb(253, 118, 99);
}
.tabbar-item:nth-child(1).active {
  background-image: url('/images/index.png');
}
.tabbar-item:nth-child(2).active {
  background-image: url('/images/plan.png');
}
.tabbar-item:nth-child(3).active {
  background-image: url('/images/uc.png');
}
